/*
profiles {
    stub {
        stubRun = true
        process {
            {
                executor = 'local'
                cpus = 1
                memory = '1 GB'
                time = '1h'
            }
        }
        params{
            sample_id = "test"
            joint_vcf = "test/test.chr21.vcf.gz"
        }
    }
}
*/

profiles {
    gcp{
        docker.enabled = true
        docker.autoMounts = true
        docker.registry      = 'quay.io'
        containerOptions = '-e TMPDIR=/tmp'
        process.executor = 'google-batch'
        process.queueSize = 1000
        process.pollInterval = '60sec'

        google.batch.bootDiskSize = '333GB'
    
        google.region  = 'europe-west4'
        google.project = 'pmc-gcp-box-d-pip-development'
        google.location = 'europe-west4'

        google.batch.spot = true
        google.batch.usePrivateAddress = true
        google.batch.network =  'projects/pmc-vpc-res-private-20gx/global/networks/shared-vpc-res-priv-dev'
        google.batch.subnetwork = 'projects/pmc-vpc-res-private-20gx/regions/europe-west4/subnetworks/subnet-res-priv-dev'
        google.batch.serviceAccountEmail = 'sa-nextflow-runner@pmc-gcp-box-d-pip-development.iam.gserviceaccount.com'
    }
}

process {
    queue = { task.accelerator ? 'gpu' : (task.memory > 100.GB ? 'bigmem' : 'cpu') }
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 2
    maxErrors = '-1'
    cache = 'lenient'
    //container = 'docker://docker.io/zinno/cellphy:latest'
    container = 'europe-west4-docker.pkg.dev/pmc-gcp-box-d-pip-development/pipeline-containers/cloudcellphy@sha256:27dbdaa90d9eb69b86181f54205198e680824881bd206468579d01ad0fca25ba'
}


/*
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${HOME}/.singularity/singularity_images_nextflow"
}
*/

executor {
  queueSize = 196
  submitRateLimit = '5 sec'
}

report {
    enabled = true
    overwrite = true
    file = "nextflow-report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "flowchart.html"
}

manifest {
    name = "cloudCellphy"
    version = "v0.0.3"
    author = ["John Zinno"]
    homePage = "https://github.com/jzinno/cloudCellphy"
    defaultBranch = "main"
    nextflowVersion = ">=22.10.4"
}

workDir = "${params.out}/work"