params {
    max_memory                 = '800.GB'
    max_cpus                   = 25
    max_time                   = '360.h'
}


process {
    shell  = ['/bin/bash', '-euo', 'pipefail']
    queue = { task.accelerator ? 'gpu' : (task.memory > 100.GB ? 'bigmem' : 'cpu') }
    errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139, 9, 50001, 50002, 50003, 50004, 50005, 50006] ? 'retry' : 'terminate' }
    maxRetries = 2
    maxErrors = '-1'
    cache = 'lenient'
    backoff =       2.0
    delay   =       { 1.min * task.attempt }
    
    withLabel:process_single {
        cpus    =       { task.exitStatus in [137, 139, 140, 143] ? (1 * task.attempt) : 1 }
        memory  =       { task.exitStatus in [137, 139, 140, 143] ? (4.GB * task.attempt) : 4.GB }
        time    =       { task.exitStatus in [137, 139, 140, 143] ? (4.h * task.attempt) : 4.h }
    }

    withLabel:process_low {
        cpus    =       { task.exitStatus in [137, 139, 140, 143] ? (4 * task.attempt) : 4 }
        memory  =       { task.exitStatus in [137, 139, 140, 143] ? (8.GB * task.attempt) : 8.GB }
        time    =       { task.exitStatus in [137, 139, 140, 143] ? (12.h * task.attempt) : 12.h }
    }

    withLabel:process_medium {
        cpus    =       { task.exitStatus in [137, 139, 140, 143] ? (8 * task.attempt) : 8 }
        memory  =       { task.exitStatus in [137, 139, 140, 143] ? (20.GB * task.attempt) : 20.GB }
        time    =       { task.exitStatus in [137, 139, 140, 143] ? (20.h * task.attempt) : 20.h }
    }

}