/*
profiles {
    stub {
        stubRun = true
        process {
            {
                executor = 'local'
                cpus = 1
                memory = '1 GB'
                time = '1h'
            }
        }
        params{
            sample_id = "test"
            joint_vcf = "test/test.chr21.vcf.gz"
        }
    }
}
*/

def getGcpProject() {
    def proc = "gcloud config get-value project".execute()
    proc.waitFor()
    return proc.in.text.trim()
}

def getMetadataNetwork() {
    try {
        // We us an array for this command, this is safer in Groovy
        def cmd = ["curl", "-s", "-f", "-H", "Metadata-Flavor: Google", "http://metadata.google.internal/computeMetadata/v1/instance/network-interfaces/0/network"]
        def proc = cmd.execute()
        proc.waitFor()
        if (proc.exitValue() == 0) {
            return proc.in.text.trim()
        }
    } catch (Exception e) {
        // Log the error to the console, for debugging
        System.err.println "WARNING: Could not fetch network metadata: ${e.message}"
    }
    return null
}


profiles {
    gcp{
        docker.enabled = true
        docker.autoMounts = true
        docker.registry      = 'quay.io'
        containerOptions = '-e TMPDIR=/tmp'
        process.executor = 'google-batch'
        process.queueSize = 1000
        process.pollInterval = '60sec'
        
        params.artifact_registry_path = 'europe-west4-docker.pkg.dev/pmc-gcp-box-d-pip-resources/pipeline-containers'

	executor.jobName = {
            def safeName = task.name
                    .replaceAll(/[^a-zA-Z0-9-]/, "-") 
                    .take(30)
                    .toLowerCase()
            def safeTag = task.tag
                    .replaceAll(/[^a-zA-Z0-9-]/, "-") 
                    .take(12)
                    .toLowerCase()
	    def safeHash = task.hash.take(8)        
	    return "${safeName}-${safeTag}-${safeHash}"
        }    

        gcp_region = 'europe-west4'
        gcp_network = getMetadataNetwork().replaceFirst(/networks/, "global/networks")
        gcp_subnetwork = gcp_network.replace('/global/networks/', "/regions/${gcp_region}/subnetworks/").replace('shared-vpc-', 'subnet-')
        gcp_project = getGcpProject()

        google.region  = "${gcp_region}"
        google.project = "${gcp_project}"
        google.location = "${gcp_region}"

        google.batch.spot = true
        google.batch.maxSpotAttempts = 10

        google.batch.usePrivateAddress = true
        google.batch.network = "${gcp_network}"
        google.batch.subnetwork = "${gcp_subnetwork}"
        google.batch.serviceAccountEmail = "sa-nextflow-runner@${gcp_project}.iam.gserviceaccount.com"
        
        wave.enabled = true
	    fusion.enabled = true
	    process.scratch = true
    }
    
    hpc {
        process.executor = 'slurm'
        process.queue = 'cpu'

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /hpc -B $TMPDIR:$TMPDIR'
        singularity.cacheDir = '/hpc/local/Rocky8/pmc_vanboxtel/singularity_cache'
    }
}

executor {
  queueSize = 196
  submitRateLimit = '5 sec'
}

report {
    enabled = true
    overwrite = true
    file = "nextflow-report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "flowchart.html"
}

manifest {
    name = "cloudCellphy"
    version = "v0.0.3"
    author = ["John Zinno"]
    homePage = "https://github.com/jzinno/cloudCellphy"
    defaultBranch = "main"
    nextflowVersion = ">=22.10.4"
}

