includeConfig "${projectDir}/../configs/nextflow.config"
includeConfig "${projectDir}/../configs/base.config"



params {
    // I/O
    project = 'test-demo'
    joint_vcf = "test/test.chr21.vcf"
    out = "gs://pip-pmc-vanboxtel-kwf-p2287/projects/cloudCellPhy/test"
    //out = "/hpc/pmc_vanboxtel/personal/rhagelaar/cloudCellphy/cloudCellphy/test"
    sample_id = "test"
    outgroup = "DY-A-1-L1-AEQW333"
    ptatodir = "NONE"

    run_upset = false

    // CellPhy parameters
    start_tree_type = 'rand'
    evo_model = 'GT10+FO+E'
    prob_msa = 'on'
    lh_epsilon = 0.1
    n_tree_search = 10
    n_bootstrap_search = 100
    bs_trees_per_job = 1
    bs_metric = 'tbe,fbp'
    
    
    // fastStrap parameters
    best_tree = "path/to/best_tree.nwk"

    // CellPhy Resources
    tree_threads = 8
    tree_memory = '20 GB'

}

process {
    resourceLabels = [
        'project': "${params.project}".replaceAll(/[^a-zA-Z0-9-]/, "-").toLowerCase(),
        'pipeline': 'cellphy',
        'user': System.getProperty("user.name"),
        'sample': "${params.sample_id}".replaceAll(/[^a-zA-Z0-9-]/, "-").toLowerCase()
    ]
}

workDir = "${params.out}/work"
