includeConfig "${projectDir}/../configs/nextflow.config"

params {
    // I/O
    joint_vcf = "test/test.chr21.vcf.gz"
    out = "gs://pip-pmc-vanboxtel/projects/cloudCellPhy/test"
    sample_id = "test"
    // CellPhy parameters
    start_tree_type = 'rand'
    evo_model = 'GT10+FO+E'
    prob_msa = 'on'
    lh_epsilon = 0.1
    n_tree_search = 10
    n_bootstrap_search = 10
    bs_trees_per_job = 10
    bs_metric = 'tbe,fbp'
    // CellPhy Resources
    tree_threads = 4
    tree_memory = '4 GB'
    // fastStrap parameters
    best_tree = "path/to/best_tree.nwk"
}

workDir = "${params.out}/work"